<% provide(:title, 'Central Valley Gamers - Live') %>
  <!-- Three-up Content Blocks -->
  <div class="row">
    <div class="nine columns offset-by-two"><%= image_tag('cvg-logo.png') %></div>
  </div>

    <div class="four columns" id="lastmatch">
		<h1>Last Match</h1>
		Match - <%= @previousmatch.identifier %>
		<div class="teamname">Team <%= @previousmatch.player1_name %></div>
		<hr class="hrseparatortop" />
		<div class="vs">VS</div>
		<hr class="hrseparatorbottom" />
		<div class="teamname">Team <%= @previousmatch.player2_name %></div>
		<div class="finalscore">Final Score: <%= @previousmatch.scores_csv %></div>
    </div>
    
    <div class="four columns" id="currentmatch">
		<h1>Current Match</h1>
		Match - <%= @tournamentlist[0].identifier %>
		<div class="teamname">Team <%= @tournamentlist[0].player1_name %></div>
		<hr class="hrseparatortop" />
		<div class="vs">VS</div>
		<hr class="hrseparatorbottom" />
		<div class="teamname">Team <%= @tournamentlist[0].player2_name %></div>
    </div>
    
    <div class="four columns" id="nextmatch">
		<h1>Next Match</h1>
		Match - <%= @tournamentlist[1].identifier %>
		<div class="teamname">Team <%= @tournamentlist[1].player1_name %></div>
		<hr class="hrseparatortop" />
		<div class="vs">VS</div>
		<hr class="hrseparatorbottom" />
		<div class="teamname">Team <%= @tournamentlist[1].player2_name %></div>
    </div>



  <!-- Footer -->
  
  <footer class="row">
    <div class="twelve columns">
      <hr />
      <div class="row">
        <div class="six columns">
          <p></p>
        </div>
      </div>
    </div> 
  </footer>